
body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    font-weight: normal;  
    color: var(--body_color); 
    background-color: var(--body_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.5s all;
    transition: .5s all;
    overflow-y: scroll;
    overflow-x: hidden;
}  
.JSHeaderShop {
    visibility: hidden;
}
.visible-full {
    visibility: visible;
}
/*NO MARGIN*/
body, .row, .currency-list, .login-dropdown, input[type="checkbox"], input[type="radio"], ul, h1, h2, h3, h4, h5, h6,
.JSinfo-popup .p-info, .header-search input[type="text"], .sub-group a p, .product-timer,
input.JScart-amount, input.cart-amount, .vezani_artikli .linked-articles-input, .JSmain-slider,
.JScookies-part .nav > li > a
{
    margin: 0; 
}
/***************************************/
/*NO PADDING*/
body, .no-padding, .currency-list, .login-dropdown, ul, .JSsticky_header .logo, .sub-group a,  
input.JScart-amount, input.cart-amount, .cart-sum 
{
    padding: 0;
} 
/***************************************/
/*TEXT CENTER*/
.JSinfo-popup .p-info, .cat-img-cont,  .JSsubcategory-toggler,
.shop-product-card-list .ribbon-sale span, .JSscroll-top, a.add-amount-less, a.add-amount-more,
.cart-labels li, input.JScart-amount, input.cart-amount, .bootbox p, .vezani_artikli .linked-articles-input,
.admin-article, .article-edit-btn, .section-title, .shop-product-card, .breadcrumb, .page-title, .empty-page-label,
.like-it, .printer a i
{
    text-align: center;
}
/***************************************/
/*RELATIVE*/
.relative, select, .popup-wrapper, span.select-wrapper,
.comment-content, .files-list-item, #main-menu li,
.shop-product-card-list, .JSproducts_slick, .JSlevel-1 li, .JSlevel-3 li
{
    position: relative;
}
/***************************************/
/*INLINE BLOCK*/
.inline-block, .capcha input[type="text"], .popup-wrapper, .selected-filters li, #logout-button, 
.JSbroj_wish span, .cat-img-cont, .level-1-img, .level-2-img, 
.sliderText div > *, .buy-btn, .not-available, .generic_car ul li, .generic_car_list ul li,
.product-tags div a, .footer-links li a, .view-buttons span, #JScompareTable .JSclearCompare,
a.add-amount-less, a.add-amount-more,
.admin-article a, .new-content img, .files-list-item, .features-list li,  
.mini-cart-sum i, .sum-label, .sum-amount, .price-label, .product-tags a,
.like-it, .printer a i
{
    display: inline-block;
}
/***************************************/
/*COLOR WHITE*/
.top-menu button span, .sliderText div > *, .shop-product-card-list .ribbon-sale span,
 #JScompareTable .JSclearCompare, .bootbox .modal-dialog .btn:nth-child(1), 
.product-tags div a, a.add-amount-less, a.add-amount-more,
.color-white, .shop-product-card .sale-label,
.foot-note, header, .add-to-cart-container
{
    color: #fff;
}
/***************************************/
/*COLOR BLACK*/
.JSsearch-button2, .close-search, .JSheader-cart-content,
ul.JSsearch_list
{
    color: #000;
}
/***************************************/

/*BOLD*/
.text-bold, .shop-product-card-list .ribbon-sale span, .article-manufacturer-text, .compare-table tr td:first-child, 
.comment-name, .admin-article a,
.files-list-item, .brend-item, .article-edit-btn, .success, h1, h2, h3, h4, h5, h6, .JSbroj_wish span,  
.PDV, .descr-title, .cart-labels li, .cart-total-price
{
    font-weight: 600;
}
/***************************************/
/*FONT 500*/
.buy-btn, .not-available, .blogs-title, .cart-name a, .empty-page-label,
.price-num, .login-title span, .font-w-500,
.login-dropdown li a, .ft-section-title, .product-name,
.price-holder, .contact-page ul .lab, .cart-sum,
.shop-product-card .sale-label
{
    font-weight: 500;
}
/***************************************/
/*OUTLINE NONE*/
.btn.focus, .btn:focus, .btn:hover, .JSproducts_slick > *:focus,
a:link, a:visited, a:active, button:focus, .btn-slider, 
.header-search input[type="text"]:focus,
.header-search select:focus
{ 
    outline: none; 
}
/***************************************/
/*LINE HEIGHT 1*/
.line-h, img, .facebook-btn-share, .first-popup .JSclose-me-please,
.sub-group a p, .price-holder, .generic_car ul, .generic_car_list ul
{
    line-height: 1;
}
/***************************************/
/*TEXT UPPERCASE*/
.h2-container, .shop-product-card-list .ribbon-sale span, .compare-table tr td:first-child, .without-btn,
.cart-labels li, .cart-sum, .global-currency
{
    text-transform: uppercase;
}
/***************************************/
/*FONT SIZE 85%*/
img, .selected-filters li, .red-dot-error, .related-custom .title,
.compare-table tr td:first-child, .files-list-item, .features-list li, .review, .comment-rating
{
    font-size: 85%;
}
/***************************************/
/*DISPLAY BLOCK*/
.section-title, .filter-price, .filter-text, .top-menu a, #main-menu .drop-2 li a, #main-menu > li:hover .drop-2,
span.select-wrapper, .search_list__item__link, 
.manufacturer-categories a, .product-price, .shop-product-card-list .ribbon-sale span,
.comment-content, .comment-content span, .JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active,
.category-name-link, .category__list__item__link, .category-sidebar__list__item__link, .admin-article .supplier,
.page-title, #responsive-nav a
{
    display: block;
}
/***************************************/
/*DISPLAY NONE*/
.popup, .drop-2, .menu-close, .JSfilters-slide-toggle-content, .JShidden-msg, .slick-dots li,
.slickTitle, .JSlevel-2, .JSlevel-4,
.JSwithout-reg-none-personal, .JSwithout-reg-personal, .JShidden-if-no-filters, .dropdown-backdrop,
.header-search, .cookies_tabs, .header_shop .icons_header, .log-user .JSbroj_wish
{
    display: none;
}
/***************************************/
/*DISPLAY FLEX*/
.flex, .filter-box label, .related-custom .card,  
.filter-links, .JScart-item li, .karak-row, .justify-center
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
    -webkit-justify-content: center;
}
/***************************************/
/*VERTICAL ALIGN MIDDLE*/
.valign, .logo, .view-buttons span, a.JScart-less, a.JScart-more, .generated-features-list > li:nth-child(1), 
.generated-features-list > li:nth-child(2), .generated-features-list > li ul li, .like-it, .printer a i,
.buy-btn, .not-available
{
    vertical-align: middle;
}
/***************************************/
/*MARGIN AUTO*/
.first-popup .first-popup-inner, .shop-product-card-list .product-image, .zoomWrapper img,
.JScart-item li > * , .product-image, .modal-cont img, .JSmain_img, .margin-auto, .gallery_slider img 
{
    margin: auto;
}
/***************************************/
/*OVERFLOW HIDDEN*/
.popup, .related-custom .title, .shop-product-card, .shop-product-card .product-name,
.generic_car ul, .generic_car_list ul, .shop-product-card-list .ribbon-sale,
.additional_img a, .JScart-item li, .brend-item, .price-holder, 
.JSproducts_slick .slick-list, .product-image-wrapper, .blogs-title,
.JSmain-slider,  .gallery_slider a, .main_imgGallery, .map-frame
{
    overflow: hidden;
}
/***************************************/
/*MAX WIDTH 100%*/
.first-popup-inner img, .article-brand-img img, .footer-logo img
{
    max-width: 100%;
}
/***************************************/
.seo {  
    position: absolute;
    top: -999px;
    left: -999px;
}

img{
    color: #bbb;  
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
iframe {
    max-width: 100%;
}
/* TINYMCE EDITOR */
.tox-tinymce {
    z-index: 5; 
}
/*===================*/

.global-currency {
    font-size: 70%;
}
/*===================*/

.JSleft-body-link, .JSright-body-link{ 
    position: absolute;
    left: 0; 
}
.JSright-body-link {  
    left: unset;
    right: 0;
}
/*===================*/
.capcha{
    border: 1px solid #ddd; 
    padding: 15px 0; 
}
.capcha input[type="text"]{
    width: auto; 
    margin: 0 5px;
}
.capcha img{ margin: 0 5px 10px; }

/*====================*/ 
.currency-btn, .show-compered, .show-compered-active {
	background-color: var(--currency_bg);
	color: var(--currency_color); 
    padding: 2px 10px;
    margin: 7px 0 7px 5px; 
}

.currency-list li{ border-bottom: 1px solid #ddd; }

.currency-list, .login-dropdown { 
    min-width: 100%; 
    z-index: 3; 
    font-size: 100%;
}

 
/*****************/

.login-dropdown li a {    
    padding: 8px 20px; 
    color: #000;
    letter-spacing: 1px;
}

[class*="col-"]{ min-height: 0; }

.pagination { margin: 10px 0; }

.pagination li a {
    padding: 5px 10px;
    background-color: var(--pagination_bg);
    border: none;
    font-size: 150%;
    color: #000;
}
.pagination>.active>a, .pagination>.active>a:hover{
    background: var(--pagination_bg_active);
    /* color: var(--pagination_color_active); */
    color: #c12020;
    font-weight: 600;
    border-bottom: 1px solid;
    border-radius: 0 !important;
    z-index: 0;
} 
.static {
    position: static;
}
/*POINTER*/
.pointer, .pagination .disabled a:hover, 
.pagination .disabled a, .JSsubcategory-toggler,
#JScompareTable .JSclearCompare, .JSmain_img,
.attributes span, .without-btn, .printer a i,
.JSclose-modal:hover, .JScookiesInfo_btn, 
.categoryOpen
{
    cursor: pointer;
}
.soc-network{ margin: 0 2px; } 
 
a:link, a:visited, a:active { text-decoration: none; color: inherit; }
a:hover{ color: inherit; transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }
ul { list-style-type: none; }
 
.section-title, .blog-title {  
    margin: 15px 0;
    font-size: 115%;
    padding: 10px 0;
    color: var(--h2_color);
} 

#presentation-page .blogs-title {
    color: #ffd700;
}
.page-title {
    font-size: 170%;
    font-weight: 900;
    padding: 30px 0px 30px;
}
.article-heading {
    margin: 10px 0;   
} 
.breadcrumb { 
    background-color: #fff;
    padding: 10px 0;
}
 
.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }

/*BUTTON*/
button {
    border: none;
    background: none;
}
.button { 
    background-color: var(--btn_bg);
    color: #000;
    margin: 2px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    font-size: 105%;
    padding: 10px 15px;
}

a.button { color: #181818; }

.button:hover {
    background-color: var(--btn_hover_bg);
} 
 
/************************/

input[type="text"], input[type="password"], select, select.form-control, textarea, textarea.form-control {
	width: 100%; 
	color: #666;
	padding: 5px 10px;
	height: 45px;
    border: 1px solid #ddd; 
    border-radius: 0;
    background-color: var(--input_bg_color);
    box-shadow: none;
    font-size: inherit;
}
.form-control:focus {
    box-shadow: none;
}
textarea, textarea.form-control { resize: none; height: auto; }
select {
    -moz-appearance: none;
    -webkit-appearance: none;
}
label { color: var(--label_color); font-weight: 400; }

/*--- POPUP ADD TO CART ---*/
/*.popup {
    position: fixed; 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    background: rgba(44, 44, 44, 0.7);
    z-index: 99999;
}
.popup-wrapper {     
    max-width: 315px;
    width: 100%; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, 0);
} 
.JSinfo-popup .p-info { 
    color: #474747; 
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #333;
    font-size: 16px;
}*/
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex; 
}
.first-popup .first-popup-inner {  border: 1px solid #ddd; max-width: 88%; }
.first-popup .JSclose-me-please{
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px; 
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img { 
    max-height: 380px;
    padding: 2px;
} 
/*======================*/

.registration-form {
    max-width: 440px;
    margin: auto;
}
.login-title span {
    font-size: 140%;
    margin: 0 10px;
    opacity: .4;
}
.login-title span.active-user {
    border-bottom: 1px solid;
    opacity: 1;
}
/*======================*/
 
.slick-slider {
    margin-bottom: 0 !important;
}

.d-content { 
    min-height: 450px;  
}
.d-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
 
/*======================*/

.JSproducts_slick .slick-prev,
.JSproducts_slick .slick-next,
.JSblog-slick .slick-prev,
.JSblog-slick .slick-next {  
    position: absolute;
    top: -50px;
    right: 10px;
    z-index: 2;
    background: #fff;
    width: 35px;
    height: 35px;
    font-size: 0;
}
.JSproducts_slick .slick-prev:hover, 
.JSproducts_slick .slick-next:hover,
.JSblog-slick .slick-prev:hover,
.JSblog-slick .slick-next:hover {
    background: #f3f3f3;
}
.JSproducts_slick .slick-prev, .JSblog-slick .slick-prev {
    right: 50px;
    left: unset;
}
.JSproducts_slick .slick-next:before, 
.JSproducts_slick .slick-prev:before,
.JSblog-slick .slick-prev:before,
.JSblog-slick .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: var(--global_color) var(--global_color) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 15px;
    height: 15px; 
    margin-right: 5px;
}
.JSproducts_slick .slick-prev:before,
.JSblog-slick .slick-prev:before {
    border-color: transparent transparent var(--global_color) var(--global_color);
    margin: 0 0 0 5px;
} 
/*======================*/
/* filters */
.filter-links { 
	justify-content: space-between; 
	-webkit-justify-content: space-between;
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
    margin: 5px 0;
    background-color: var(--filters_bg);
    font-weight: bold;
    position: relative;
}
.filter-links::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 35%;
    width: 7px;
    height: 7px;
    background: #f3b71f;
    border-radius: 50%;
    transform: translate(0%, 10%);;
}
.filter-links i {
    font-size: 70%;
    opacity: .5;
}
.filter-price { margin: 0 0 10px; }
/*======================*/

#JSslider-range {
    max-width: 95%;
    margin: auto;
    height: 3px;
    border-color: #f3b71f;
    border-width: medium;
}
#JSslider-range > div, #JSslider-range > span {
    background: #f3b71f;
}
#JSslider-range > span { 
    border-radius: 50px;
    width: 15px;
    height: 15px;
    top: -7px;
}
/*======================*/

.selected-filters li {  
    padding: 5px 10px;
    background-color: #f2f2f2;
    margin: 5px 0;
}
.filter-box label {  
    padding: 2px 8px; 
    flex-wrap: nowrap;
}
.filter-box label:hover { box-shadow: 3px 0 0 inset; }

.filter-text{ margin: 0 5px; width: 100%; /*for flexbox*/ }

/* SLAJDER ZA CENU END */
a.JSreset-filters-button { 
    /* color: var(--global_color); */
    color: #c12020;
}
/****************************/
 
/*--- PREHEADER ---*/
#preheader { background-color: var(--top_menu_bg); padding: .2rem 0; }
 
.JStoggle-btn {
    margin: 5px;
    padding: 0 6px;
    border: 1px solid #fff;
    user-select: none;
}  
.top-menu a {
	padding: 3px 5px;  
    color: var(--top_menu_color); 
}  
.required-fields span, .red-dot-error {    
    color: #f00;
} 
.red-dot-error i {
    font-size: 7px;
    vertical-align: super;
}
/*- MAIN MENU -*/ 
 
.drop-2 ul {
    margin-left: 20px;
}
.drop-2 { 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px; 
    z-index: 3;
}  
#responsive-nav a:not(.icons_header a)  {
    padding: 5px;
}

.JSlevel-2 a:hover {
    opacity: .7;
}
 
/*===============================*/
 
/*--- HEADER ---*/ 
#start-page header {
    background: rgba(0,0,0,.5);
}
.sticky_head {
    background: rgba(0,0,0,.5);
}
#presentation-page {
    font-family: 'Cormorant Garamond', sans-serif;
}
 
/*======= STICKY HEADER ANIMATION ========*/

/* CUSTOM */

#presentation-page .short-desc span {
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: none;
}
#presentation-page .short-desc a {
    background-color: #f3b71f;
    font-size: 120%;
}

.sliderText .main-desc {
    color: 	#FFD700;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
.sliderText .short-desc p:first-child {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}
.sliderText .short-desc p:last-child {
    font-family: 'Poppins',sans-serif;
}
.JSmain-slider .slider-link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
}
#start-page .JSmain-slider .slider-link:after {
    content: '';
    background-color: transparent;
}
.flexing-banner{
    text-align: center;
    background: #181818;
    color: #fff;
}
#banner_right {
    justify-content: center;
}
.flexing-banner .bg-img {
    filter: invert(1);
    height: 85px;
    width: 85px;
    margin: auto;
}
.my-3 {
    margin: 3rem 0;
}
.my-1 {
    margin: 1rem 0;
}

.text-white {
    color: #fff;
}
.bannerSlider .short-desc {
    position: absolute;
    bottom: -25px;
    width: 80%;
    max-width: 100%;
    left: 10%;
    background: #FFD700;
    text-align: center;
}
.btn-more {
    color: #fff !important;
}
.bannerDescSlick {
    background: #FFD700;
    width: 380px;
    margin: auto;
    position: absolute;
    top: -85px;
    border-radius: 5px;
}
.mainSliderButton {
    display: block;
    border-radius: 5px;
}
#addToCartCustom #JSAddCartSubmit,
#JSDeleteCart, #addToCartCustom .button,
#JSRegToggle, .cart-action-buttons .button, #JSOrderSubmit, #registerButton, .modal-footer .button, #login {
    background: #f3b71f;
    border-radius: 50px;
    padding: 10px 25px;
}
#hideshow, .btn-job  {
    background: #f3b71f;
    padding: 10px 25px;
    border: 0;
    margin: 1rem 0;
}
#addToCartCustom #JSAddCartSubmit i {
    font-size: 1.5rem;
}
.product-count, .product-preview-info .cart-amount, .product-preview-info .like-it, .product-preview-info .printer a i, .mf-social-wrap .mf-social-icons a {
    width: 33px;
    height: 33px;
}
.product-count {
    transition: all 300ms ease-in-out;
    font-size: 12px;
    line-height: 0px;
    padding: 10px 0px;
    height: 36px;
    width: 36px;
    text-align: center;

    background-color: #fff;
    border: 1px #ececec solid;
    color: #999;
}
.product-count:hover {
    background-color: #f3b71f;
    border: 1px #f3b71f solid;
    color: #fff;
}
.product-preview-info .cart-amount {
    width: 36px;
    height: 36px;
    border: 1px #ececec solid;
    margin: 0px 5px;
}
.product-preview-info .cart-amount:hover {
    border: 1px #f3b71f solid;
}
.experience_part {
    display: flex;
    flex-direction: column;
}
#service_desc-tab {
    text-align: center;
}
.priceNumCustom {
    font-size: 140% !important;
    color: #f3b71f;
}
.nav-tabs {
    display: flex;
    justify-content: center;
    border-bottom: 0;
}
.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover  {
    border-bottom-color: #f3b71f !important;
    border: none;
}
.nav-tabs>li.active>a {
    border: 0;
    border-bottom: 1px solid #f3b71f !important;
    z-index: 4;
}
#relatedProducts .shop-product-card .product-image {
    border: 0;
}
#relatedProducts .relatedName, #relatedProducts .buy-btn {
    display: none;
}
#start-page .bg-img {
    background: center/contain no-repeat;
}
.btn-weight:hover {
    color: #fff !important;
}
/* #relatedProducts .shop-product-card .product-image {
    padding: 20px;
} */
#relatedProducts .price-holder {
    font-size: 120% !important;
    font-weight: bold;
    color: #f3b71f;
}
#relatedProducts .shop-product-card  {
    border: 1px solid #ddd;
}
#relatedProducts .add-to-cart-container a  {
    text-align: center;
    font-size: 100%;
}
#linkedProducts .shop-product-card .product-image {
    border: 0;
}
#linkedProducts .relatedName, #linkedProducts .relatedPrice, #linkedProducts .buy-btn {
    display: none;
}
#linkedProducts .shop-product-card  {
    border: 1px solid #ddd;
}
#linkedProducts .add-to-cart-container a  {
    text-align: center;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#linkedProducts .product-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85px;
}
#realtedProducts .relatedPrice, .linkedPrice {
    color: #f3b71f !important;
    font-weight: bold;
    font-size: 120% !important;
}
.JSclose-category {
    position: sticky;
    right: 0;
    top: 25px;
    z-index: 23;
    color: #fff;
    cursor: pointer;
}
.JSclose-category i {
    position: absolute;
    right: -140px;
}
.circle-b {
    background: #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.btnRegister {
    background: #f3b71f;
}
.btnRegister:hover {
    background-color: var(--add_to_cart_btn_bg_hover);
    color: #fff;
}
.cityName {
    position: absolute;
    background: #f3b71f;
    color: #000;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    z-index: 10;
    top: unset;
    bottom: 10px;
    border-radius: 5px;
}
.cityName span {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 10px);
    color: #f3b71f;
}
.marks > div:hover .cityName {
    opacity: 1;
}

/* END OF CUSTOM */

/* SHOP CUSTOM */
#start-page .flexing-banner {
    background-color: #fff;
    color: #000;
}
#start-page .flexing-banner .bg-img {
    filter: invert(0);
}
#start-page .behindText {
    z-index: 0;
    overflow: hidden;
    padding: 80px 0;
    margin-top: 40px;
}
#start-page .card-about-us {
    max-width: 500px;
    margin: 10px auto;
    min-height: 160px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #ffffff;
    z-index: 0;
    overflow: hidden;
}

#start-page .card-about-us .card-title {
    color: #f3b71f;
} 
.card-text {
    font-size: 1.8rem;
}
#start-page .card-about-us .card-title {
    color: #ccb300;
}
.sticky_head #responsive-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .sticky_head #scrollHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.carrier {
    position: relative;
    max-width: 500px;
    margin: auto;
    z-index: 0;
}
.carrier-title, .carrier-content {
    background-color: #181818;
    padding: 0 20px;
    z-index: 0;
    color: #fff;
}

/* .carrier::before {
    content: "";
    position: absolute;
    width: 101.1%;
    height: 103.1%;
    left: -3px;
    top: -3px;
    z-index: -1;
    border-radius: 3px;
    background: linear-gradient(
180deg
, rgba(255,255,255,1) 50%, rgba(255,249,235,1) 65%, rgba(243,183,31,1) 100%);
} */

.carrier .carrier-title:after {
    content: '!';
    position: absolute;
    right: 10px;
    top: -20px;
    color: #FFD700;
    font-size: 600%;
    transform: rotate(20deg);
}
.carrier-content {
    padding-bottom: 10px;
}
.carrier-content a:hover {
    background-color: #e4b732;
    color: #fff;
}
.carrier-content a {
    background-color: #ffd700;
    color: #000;
}
.btn-sell {
    background-color: #ffd700;
    padding: 1rem 2rem;
}
#the-comments button {
    background-color: #f3b71f;
}
#the-comments button:hover {
    background-color: var(--add_to_cart_btn_bg_hover);
    color: #fff;
}
.about-main {
    font-family: 'Cormorant Garamond', serif;
}
.about-main p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: #fff;
}
.about-main img {
    border-radius: 10px;
}
.about-us-page .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    flex-direction: row-reverse;
}
.about-title {
    margin: 2rem 0;
}

.about-us p {
    color: #fff;
}

/* JOB */
#JSeducation_form {
    padding: 3rem 0;
}
.heading-background {
    line-height: 1.7;
}

/* FLIP CARDS */
.flip-card {
    background: transparent;
    height: 700px;
    max-width: 300px;
    perspective: 1000px;
    position: relative;
    margin: auto;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 90%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background: #f4f4f4cc;
    border: 2px solid #efeeee;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
  
.flip-card-front {
    color: black;
}
.flip-card-front img {
    margin: 20px auto;
    width: 80%;
    display: block;
    position: relative;
}
.bottom {
    position: absolute;
    bottom: 13%;
    left: 0;
    width: 100%;
}
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}
.flip-card-back img {
    width: 100%;
}

@keyframes meat-clouds {
    0% {opacity: 0; transform: translate(0, 0);}
    50% {opacity: 0.5; }
    100% {opacity: 0; transform: translate(100%, 40px);}
}
.backdrop-animate {
    animation: meat-clouds 6s ease-in-out;
    animation-iteration-count: infinite;
}
.backdrop {
    width: 100%;
    overflow: hidden;
    margin-top: -50px;
    position: absolute;
    z-index: 0;
}
.backdrop img {
    opacity: 0;
	max-width: 100px;
	position: absolute;
}
/* END OF FLIP CARDS */

/* BIFTEK GALLLERY */
.biftek-gallery {
    perspective: 1500px;
}
.main-brand {
    width: 100%;
    height: 60px;
    padding: 20px 10vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.main-brand .brand {
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}
.main-brand .link{
    position: absolute;
    width: 25vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -25vw;
}
.main-brand .link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}
.main-brand .link ul li{
    padding: 20px;
    text-transform: capitalize;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}
.main-brand .toggle-btn{
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
    margin-left: auto;
}
.main-brand .toggle-btn span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 2px;
    background-color: #000;
    transition: .5s;
}

.main-brand .toggle-btn span:nth-child(1){
    top: 30%;
}

.main-brand .toggle-btn span:nth-child(3){
    top: 70%;
}

.main-body,
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: .5s;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img:first-child{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}
.header img {
    display: none;
    transition: all 0.3s ease;
}

.header .content{
    position: relative;
}

.header .content .heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}

.header .content p{
    color: #fff;
    width: 50%;
    font-size: 18px;
    text-align: center;
    display: block;
    margin: auto;
}

.header .content .btn{
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 16px;
    display: block;
    margin: 40px auto 0;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    text-transform: capitalize;
}

.header .content .btn:hover{
    background-color: #fff;
    color: #000;
}

.main-brand .toggle-btn.active span:nth-child(1){
    top: 80%;
    left: 40%;
    transform: rotate(45deg) translate(-50%, -50%);
}

.main-brand .toggle-btn.active span:nth-child(2){
    opacity: 0;
}

.main-brand .toggle-btn.active span:nth-child(3){
    top: 25%;
    left: 45%;
    transform: rotate(-45deg) translate(-50%, -50%);
}

.header.skew{
    transform: rotateY(35deg) scale(0.6);
}

.first {
    top: 0 !important;
    left: 0 !important;
    z-index: 2 !important;
    opacity: 1 !important;
}
.second {
    top: -5% !important;
    left: -5% !important;
    z-index: 1 !important;
    opacity: 0.5 !important;
}
.third {
    top: -10% !important;
    left: -10% !important;
    z-index: 0 !important;
    opacity: 0.5 !important;
}
.header.skew img:nth-child(1) {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    display: block;
}
.header.skew img:nth-child(2) {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    display: block;
}
.header.skew img:nth-child(3) {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
    display: block;
}
.selling-places {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0%;
    color: #ffd700;
} 

.main-brand .link.active{
    right: 0;
}
.selling-places a:hover {
    color: #907226;
}

.main-brand .link ul li:hover{
    transform: scale(1.3);
}
.hovered {
    transform: scale(1.3);
}
/* END OF BIFTEK GALLERY */

/* BIFTEK MAP */
.map-fragment {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
}
.holder .content-1 .map-fragment img {
    opacity: 0;
    /* filter: contrast(0) brightness(2) saturate(0); */
}
.animate {
    animation: easein 100ms;
}
@keyframes easein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.mapLocation img {
    width: 20px;
    height: 20px;
}
.holder {
    display: none;
}
.marks img {
    position: absolute;
    opacity: 1;
    max-width: 25px;
}
.animate-marks {
    animation: marks 300ms;
}
@keyframes marks {
    0% {margin-top: -40px;}
    100% {margin-top: 0px;}
}

.mapLocation {
    background-color: #fff;
    color: #000;
    box-shadow: 10px 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 19px 6px rgb(150, 145, 150);
    -moz-box-shadow: 0px 0px 19px 6px rgba(15,6,15,1);
    box-shadow: 0px 0px 19px 6px rgb(140, 138, 140);
}
.content-1 img {
    width: 90%;
    height: 100%;
    transform: scale(1.5);
    object-fit: contain;
}
.content-2 img {
    width: 40px;
    opacity: 1;
}
.JSMainWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.markRelative {
    width: 100%;
    height: 100%;
}
.marks {
    position: relative;
}
.marks > div {
    position: absolute;
}
.marks img {
    width: 15px;
    height: 15px;
}
.content-3 span img {
    width: 15px;
    height: 15px;
}
.content-3 ul {
    line-height: 2;
}
.mainWrapper {
    background: #ddd url('../../../../images/map/footer.png') no-repeat top center / contain;
    padding-top: 15%;
    padding-bottom: 50px;
}
.mapHolder {
    min-height: 50vh;
    position: relative;
}
/* END OF BIFTEK MAP */
  

/*===== LOGO ==========*/
.logo { 
    padding: 5px; 
}
.logo img { max-height: 55px; }

/**************************/

.header-search select {
	border-right: 0;     
	padding: 0 20px 0 10px;  
} 

.header-search select,
.header-search input[type="text"] {
    height: 55px;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 125%;
}

.header-search {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.header-search input[type="text"] {
    padding-right: 50px; 
}
.header-search span.select-wrapper::after, span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
}  
.search-content {
    max-width: 660px;
    width: 75%;
    margin: 0 auto;  
    top: 50%;
    margin-top: -25px;
} 
.close-search {
    position: absolute;
    top: 50%;
    right: 3%;
    margin-top: -20px;
    z-index: 1;
    font-size: 30px;
}
.JSopen-search-modal, .login-btn {
    font-size: 18px;
    padding: 5px 10px;
}
.JSsearch-button2 {
    padding: 0 15px;
    font-size: 25px;
    position: absolute;
    z-index: 1;
    top: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
}
.JSsearch-button2:hover, .close-search:hover {
    color: #b3b3b3;
} 
/************************/
.header-cart-container:hover .JSheader-cart-content{ visibility: visible; opacity: 1; }

.JSheader-cart-content { 
	position: absolute;
	width: 320px;
	right: 0;
	padding: 0 10px; 
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	transition: .1s ease-in-out;
	-webkit-transition: .1s ease-in-out;
    background-color: #f9f9f9;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.mini-cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.mini-cart-title {
    margin: 0 0 10px;
    max-width: 90%;
}
.go-to-cart-btn {
    padding: 10px;
}
.go-to-cart-btn i {
    font-size: 75%;
}
.remove-cart-item {
    color: #e60000 !important;
    position: absolute;
    top: 0;
    right: 5px;
}
.mini-cart-img { max-height: 70px; }
 
.mini-cart-sum li { 
    text-align: right;
    padding: 5px 7px;
    margin: 8px 0;
    background: #f2f2f2; 
}
.mini-cart-sum i {
    font-style: normal;
    min-width: 100px; 
}
/******************************/
 
.log-user a {
    padding-left: 0;
    padding-right: 0;
} 
.log-user {
    display: inline-flex;
}
.forgot-psw { 
    color: #777;
    margin: 10px 0;
} 
.user-info-form button {
     background: #f3b71f;
}
.user-info-form button:hover {
     background-color: var(--add_to_cart_btn_bg_hover);
     color: #fff;
}

/*- SEARCH -*/ 
ul.JSsearch_list {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    width: 100%;
    background: #fff;
    max-height: 450px;
    overflow: auto;
}
.JSsearch_list li:not(.search_list__title){ 
    margin: 5px 0;
    padding: 4px 10px;
    line-height: 1.2;
    border-bottom: 1px solid #ddd;
} 
.search_list__item__link__cat { 
    display: block;
    font-weight: 600;
    color: #000;
    text-align: right;
}
.search_list__title {
    font-weight: 600;
    padding: 3px 5px;
    background: rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

/*- HEADER CART -*/
.header-cart {   
    font-size: 25px;
    width: 45px;
    height: 35px;
    margin: 5px 0;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}   
.JScart_num {
    position: absolute;
    top: 0px;
    right: 4px;
    background: #c12020;
    padding: 2px 5px;
    font-family: sans-serif;
}
.JSbroj_wish { color: var(--global_color); } 

/***********************/
  
/*SUBGROUPS*/
.sub-group a {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
} 
.sub-group a:before {
    content: '';
    position: absolute;
    left: -5%;
    top: 50%;
    width: 5px;
    height: 5px;
    background: #ffcf40;
}
.sub-group span {
    font-weight: bold;
}
.sub-group h4 {
    border-bottom: 2px solid #ccc;
    padding: 1rem 0;
    text-transform: uppercase;
}
.sub-group img {
    max-height: 25px;
    margin: 0 8px;
}
 
/*================================*/
.contact-page ul li {
    margin: 5px 0;
}
 
/*=========== Manufacturer ============*/
 
.manufacturer-categories h3 {
    font-size: inherit;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.manufacturer-categories a { 
    margin: 3px 0;
    padding: 3px 6px; 
}
/*==========================================*/
 
.cat-img-cont { 
    width: 25px;
    height: 25px; 
    margin: 0 5px 0 0;
}
.cat-img-cont img {
    max-width: 25px;
    max-height: 23px; 
    padding: 1px;
}   
 
/******************/
.JSsubcategory-toggler { 
    position: absolute;
    right: 0;
    top: 2px;
    width: 29px;
    height: 26px;
    line-height: 26px;  
    font-size: 80%;
}

/********************/
.bg-img {
    padding-top: 40%;
    background: center/cover no-repeat;
}

/**************/
.gallery-ban {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, auto); 
    grid-template-rows: repeat(4, minmax(160px, 1fr));
}
.gallery-ban .bg-img:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
} 
.gallery-ban .bg-img:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(4) {
    grid-column: 6 / 4;
    grid-row: 3 / 5;
} 
.gallery-ban .bg-img:nth-child(5) {
    grid-column: 9 / 6;
    grid-row: 3 / 5;
}
.gallery-title {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 180%;
}

/**************/

.gallery_slider {
    display: grid;
    grid-gap: 10px;
}
.gallery_slider a {
    border: 1px solid transparent;
    padding: 5px;
}
.gallery_slider .JSimg-gallery { 
   transition: .2s ease-in-out; 
    -webkit-transition: .2s ease-in-out; 
}
.gallery_slider .galery_Active, .gallery_slider .JSimg-gallery:hover {
   transform: scale(1.05);
   border: 1px solid var(--global_color);
}

/********************/
/*- MAIN SLIDER -*/

.sliderText, .banner-desc {
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translate(-10%, -50%);
    -webkit-transform: translate(-10%, -50%);
    width: 100%;
    max-width: 590px;
    z-index: 2; 
    background: rgba(0,0,0,.3); 
    font-size: 25px;
    color: #fff;
}
.sliderText *, .banner-desc * {
    margin: 5px 0;
    text-shadow: 0 0 1px #000; 
    padding: 10px 15px; 
} 
.slider-btn-link {
    padding: 5px 15px;
    font-size: 80%;
    margin: 10px 0; 
    border: 1px solid;
} 
.JSmain-slider {
    width: 100%; 
    z-index: 2;
} 

.JSmain-slider .slick-next { right: 20px; } 
.JSmain-slider .slick-prev { left: 20px; }
 
.JSmain-slider .slick-next, .JSmain-slider .slick-prev{
    width: 50px;
    height: 70px;
    margin: -3% 0;
    border: 2px solid #a9a7a9;
    opacity: 0;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

.JSmain-slider:hover .slick-next, .JSmain-slider:hover .slick-prev {
    opacity: 1;
}

.JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: #a9a7a9 #a9a7a9 transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
} 
.JSmain-slider .slick-prev:before {
    border-color: transparent transparent #a9a7a9 #a9a7a9;
    margin: 0 0 0 10px;
}
.JSmain-slider .slick-prev:hover, .JSmain-slider .slick-next:hover { background-color: rgba(0,0,0,.1); }

/*BANNERS */ 
.banners:hover, .gallery-ban .bg-img:hover, .txt-banner:hover {
    opacity: .8;
}
.banners .bg-img {
    padding-top: 25%;
    margin: 25px 0;
    background-attachment: fixed; 
    background-blend-mode: multiply;
    background-color: rgba(0,0,0, .2);
}
.slider-link { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/****************************************/
 
.related-custom .card{ 
    padding: 15px 0;
}
.related-custom .img-wrap img{
    max-height: 50px;
}
.related-custom .title{ 
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.related-custom .price{
    font-size: 16px;
}
/*- PRODUCT */
/*.product-timer {
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0; 
    table-layout: fixed;
}*/
/*==================*/
.shop-product-card { 
    background: var(--product_bg); 
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    margin: 15px 3%; 
    border: 1px solid #ddd;
}
.shop-product-card .sale-label {
    background: #f3b71f; 
    color: #181818;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 12px; 
}  
/*==================*/
.article_top_info {
    position: absolute; 
    top: 10px;
    right: 10px;
    z-index: 1; 
    /* width: calc(100% - 20px); */
    pointer-events: none;
} 
#product-preview .product-sticker {
    position: absolute; 
    top: 5px;
    left: 20px;
    z-index: 1; 
    pointer-events: none;
    width: calc(100% - 40px);
}
.article-sticker-img { flex:1; }

.article-sticker-img img { 
    max-height: 65px;
    padding: 2px; 
}
/*=========*/
.buy-btn, .not-available { 
    padding: 10px;
    margin: 5px; 
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: #181818;
    background-color: rgb(243,183,31);
    text-transform: uppercase;
    font-weight: 600;

}
 .btn-px {
    padding: 10px 30px;
}
.not-available {
    opacity: 0.8;
}
.like-it, .printer a i { 
    transition: 0.3s all;
    -webkit-transition: 0.3s all; 
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    color: #999;  
}
.like-it:hover, .like-it.active, .printer a i:hover{
    color: var(--global_color);
    -webkit-box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);
    box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);
}
  
.product-meta {
    padding: 0 5px;
}
/******************/ 
.num-rates{
    margin: 5px 0 10px;
}
.num-rates .lorem-1 {
    font-size: 90%;
    color: #666;
    margin: 0 30px 0 0;
}
.num-rates select {
    font-family: Consolas, monospace;
}
.num-rates .select-wrapper{
    min-width: 130px;
    display: inline-block;
}
/******************/
   
.price-holder { 
    font-size: 120%;
    color: var(--product_price_color);
    font-weight: 400; 
}
 
.product-old-price {
    text-decoration: line-through;
    color: #000;
    font-size: 90%;
}

/******************/
.product-name {  
    font-size: 100%;
    color: var(--product_title_color); 
    margin: 10px 0; 
    font-weight: bold;
} 
/******************/

/* .shop-product-card:hover{ 
    box-shadow: 0 0 0 1px var(--global_color);
} */
/******************/
 
.shop-product-card .product-image {
    max-height: 100%;
    padding: 5px;
    border-radius: 5px;
} 
 
/******************/
    
.buy-btn:hover { 
    background-color: var(--add_to_cart_btn_bg_hover);
    color: #fff;
}
 
/*========================*/
.generic_car ul, .generic_car_list ul {
    font-size: 13px; 
    color: #333;
    height: 55px; 
}
.generic_car_list ul{
    height: auto;
}
.generic_car ul li, .generic_car_list ul li{
    width: 48%; 
    padding: 0 5px;
} 
 
/*=========== PRODUCT ON LIST ==================*/
.shop-product-card-list {
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0,0,0, .1);
    background-color: var(--product_bg);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
}
.shop-product-card-list:hover { box-shadow: 0 0 5px rgba(0,0,0, .3); }

.shop-product-card-list .product-image-wrapper { height: 160px; }

.shop-product-card-list .product-image-wrapper > a {
    height: 100%;
}
.shop-product-card-list .product-image {
    max-height: 160px;
    padding: 5px 0;
} 
.shop-product-card-list .ribbon-sale {
    position: absolute;
    left: -5px; 
    top: -5px;
    z-index: 1; 
    width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
    font-size: 13px;  
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px; 
    background: #f8694a;
    box-shadow: 1px 1px 5px #bbb;
    position: absolute;
    top: 19px;
    left: -21px;
}
.shop-product-card-list .ribbon-sale span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #f8694a;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #f8694a;
}
.shop-product-card-list .ribbon-sale span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #f8694a;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #f8694a;
}

/* ========= TAGS ============== */
.product-tags a {  
    margin: 10px 5px;
    padding: 5px 10px;
    background-color: #f3b71f; 
    color: #181818;
    border-radius: 5px;
} 
.product-tags a:hover {
    opacity: .8;
}
/*===========================*/
.product-preview-price {
    /* margin: 20px 0; */
    font-family: 'Cormorant Garamond', serif;
}
#customOpis {
    margin: 1rem 0 !important;
}
.price-label { 
    min-width: 135px;
    font-size: 115%;
}
.price-num {
    font-size: 175%;
    color: #f3b71f;
}
/*===============*/

.article-manufacturer-text{ font-style: italic; color: #666; }

.article-brand-img img { max-height: 50px; padding: 5px 0; }

.artical-brand-text { 
    margin: 5px 0 10px;
} 
.custom-label {
    background: #f9f9f9;
    padding: 5px;
    margin: 10px 0;
    border-left: 2px solid;
}

/*--- FOOTER ---*/
footer{ 
    background: #1c1d1f;
    color: #ddd;
    padding: 50px 0 30px; }

.footer-logo img {
    margin: 10px 0; 
    max-height: 65px;
}
.ft-section-title { 
    min-height: 30px; 
    margin: 5px 0; 
    font-size: 125%;
}

footer .mailto{ color: inherit; } 

footer li { margin: 8px 0; } 

.after-footer { 
	background-color: #fff; 
    padding: 10px 0;
}
.foot-note {
    padding: 30px 0px;
    background-color: #000; 
}
#presentation-page .foot-note:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 2%;
    width: 95%;
    margin: auto;
    height: 1px;
    background-color: #ccc;
}
#presentation-page .foot-note {
    background-color: #1C1D1F;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.foot-note a {
    color: #fff !important;
}
.JSfooter-secs {
    margin: 0 0 15px;
}
.JSfooter-cols {
    line-height: 1.1;
}

/*============== LOGO BANKS ===========*/ 
.banks > ul:first-of-type li img {
    max-height: 30px;
}
.after-footer .banks > ul:last-of-type li img {
    max-height: 42px;
}
.after-footer .banks {
    padding: 5px 0;
}
.after-footer .banks.justify-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.after-footer .banks img {
    max-width: 150px;
    margin: 5px 0; 
}
.after-footer .banks .list-inline { margin-left: 0; }

/*============== COOKIES ===========*/
.JScookies-part {
    position: fixed;
    left: 0;
    bottom: -500px;
    z-index: 999;
    width: 100%;
    background: rgba(255,255,255,.9);
    box-shadow: #737373 2px 7px 9px 2px;
    -webkit-box-shadow: #737373 2px 7px 9px 2px;
}
.JScookies-part .alert {
    max-width: 640px;
    width: 100%;
}
.JScookies-part .tab-titles li {
    float: none;
    clear: both;
}
.JScookies-part .tab-content, .JScookies-part .nav-tabs  { border-color: transparent; }

.JScookies-part .nav-tabs { background: #f5f5f5; }

.cookies_tabs {
    border: 1px solid #f5f5f5;
    background: #fff;
    width: 100%;
}
.JScookies-part .tab-content {
    max-height: 115px;
    overflow-y: auto;
}
.JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { padding: 5px 15px; }  

.JScookies-part .nav-tabs, .JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { 
    border: none; 
    border-radius: 0; 
}
.JScookies-part .nav-tabs > li > a:hover { background: #fff; }

.JScookies-part h4 { padding-bottom: 5px; }

.JScookiesInfo_btn { text-decoration: underline; }

/*- NEWSLETTER -*/

.newsletter {   
    padding: 50px 0px;
    background-color: #f5f5f5;
}
.newsletter h5 {
    font-size: 26px;
    margin: 0 0 15px;
}
.newsletter input {
    height: 55px;
    padding: 5px 130px 5px 20px;
    border: none;
    font-size: 125%;
}
.newsletter button {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    background-color: var(--btn_bg);
    padding: 0 25px;
    margin: 0;
} 
/*========== SOCIAL ICONS ========*/
#preheader>.social-icons{
    position: fixed;
    right: 0;
    top: 25%;
    transform: translateY(-25%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.social-icons a {
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px; 
    margin: 1px 0; 
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}
#presentation-page .social-icons a {
    color: #fff;
    background-color: transparent;
}

.social-icons a:hover{ opacity: .7; } 
.social-icons .facebook { background-color: #3b5999; }
.social-icons .twitter { background-color: #55acee; }
.social-icons .google-plus { background-color: #dd4b39; }
.social-icons .skype { background-color: #00AFF0; border-radius: 50px; }
.social-icons .youtube { background-color: #b30000; }
.social-icons .linkedin { background-color: #007bb5; }
.social-icons .instagram { background-color: #C13584; }
footer .social-icons a { margin: 10px 5px; }

/*--- SCROLL TO TOP ---*/
.JSscroll-top {
    position: fixed;
    font-size: 18px;
    line-height: 18px; 
    color: #747474;
    right: -70px;
    bottom: 95px;
    border: 1px solid #ddd;
    background: var(--scroll_top_bg);
    z-index: 20;
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.JSscroll-top:hover { background: var(--btn_bg); color: var(--btn_color);  }

/* ======= NEWS ========= */
iframe { max-width: 100%; }

.single-new .bg-img {
    padding-top: 80%; 
} 
.card-blog iframe, .single-new iframe{
    width: 100%;
    height: auto;
}
.single-new iframe{
    height: 56.25vh;
}
.half-width {
    max-width: 1000px;
    margin: auto;
}
.single-new .JSblog-slick button {
    display: none !important;
}

/**************/
.card-blog {
    margin: 15px 0 30px;
    padding: 5px;
    color: #fff;
}
.card-blog:hover {
    box-shadow: 0 0 0 1px #bfbfbf;
}
.card-blog .bg-img {
    padding-top: 80%; 
}
.blogs-title {
    margin: 15px 0;
    font-size: 110%; 
}
.blogs-date {
    opacity: .7;
    font-size: 90%;
}

/*============== SOCIAL ICONS ===========*/ 
.soc-cont{  
    padding: 15px 0;  
}
.soc-cont a {
    box-shadow: 3px 3px 6px rgba(0,0,0, 0.2);
    color: #fff;
    display: inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center; 
    font-size: 16px;
    margin: 3px 6px 3px 0;
}
.soc-cont a:hover {
    opacity: .7;
}
.soc-cont .fb { background: #3b5999; }
 
.soc-cont .tw { background: #55acee; }
 
.soc-cont .ln { background: #0077B5; }
 
.soc-cont .pin { background: #bd081c; }
  
.soc-cont .vib { 
    background: #59267c;
}
.soc-cont .mail { 
    background: #1aafff; 
}
/***************************/
.ktlg-page .box{
    box-shadow: 0 0 5px #ddd;
    padding: 15px 0;
    margin: 10px 0;
}
.ktlg-page span{
    font-size: 16px;
    font-weight: 500;
    display: block;
}
.ktlg-page a {
    padding: 5px 15px; 
    color: var(--btn_color);
    background: var(--btn_bg);
} 
/*- PRODUCT LIST OPTIONS -*/

.JSproduct-list-options {  
    border-bottom: 1px solid #ddd; 
    padding: 5px 0;
}

.view-buttons span {
    width: 20px;
    height: 20px;
    /* color: var(--global_color);  */
    color: #c12020;
    font-size: 16px;
}

.view-buttons span.active { color: #000; }

.view-buttons{ margin: 0 10px; } 

.view-buttons span:hover { transform: scale(1.2); -webkit-transform: scale(1.2); } 

/*========= COMPARED ARTICLES ==============*/
 
.show-compered-active{
    animation: pulse 1.5s ease-in-out infinite;
} 
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(248, 105, 74, 0.66); }
    70% { box-shadow: 1px 1px 5px 20px rgba(251, 174, 157, 0); }
    100% { box-shadow: 0 0 0 0 rgba(251, 174, 157, 0); }
}  

#JScompareTable .JSclearCompare { 
    background: #D13E3B;  
    padding: 2px 7px;
}
 
.compare-table table { width: 100%; } 
.compare-table table img {
	max-height: 75px;
	max-width: 100%;
} 
.compare-table tr td:first-child {
    text-align: left;
}

/*--- PRODUCT PREVIEW ---*/ 
/***************************/
.JSmain_img {  
  transition: 0.3s;
  max-height: 300px; 
  padding: 5px;
}
.JSmain_img:hover {opacity: 0.7;}
 
.JSmodal {
    display: none;
    position: fixed;
    z-index: 61;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.full-screen {
    height: 100%;
}
.modal-cont {
    margin: auto;
    display: block;
    max-width: 700px;
    width: 90%;
    /*max-height: 90%;*/
    overflow: hidden; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
.galery-cont {
    max-width: 100vw;
}
/****************/
.modal-cont .btn {
    border: 1px solid rgba(255,255,255, .2);
    position: absolute;
    top: 50%;
    left: 1px;
    z-index: 1;
    padding: 0;
    width: 30px;
    height: 50px;
    color: #fff;
    margin-top: -25px;
    display: none;
    background: rgba(0,0,0, .8);
} 
.modal-cont .JSright_btn {
    left: unset;
    right: 1px;
}
/****************/
.modal-cont img {
    max-height: 95vh;
    background: #fff;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}  
.JSclose-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s; 
}
.JSclose-modal:hover {
    opacity: .7; 
}
#product-preview .JSclose-modal {
    color: #ca3939;
}
/****************/

.img-gallery {   
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px;
    height: 90px;
}
.img-gallery img {  
	max-height: 70px; 
	max-width: 100%;
    margin: auto;
}
/****************/
 
.additional_img a{ 
    border: 1px solid #dddd;
    max-width: 60px;
    width: 100%; 
    height: 50px;
}
.additional_img a:hover{
    border-color: var(--global_color);
}
.additional_img img{
    max-height: 45px; 
    padding: 5px;
    margin: 2px 0;
}
.JSTekst {
    font-size: 115%;
}
/* ======================= */ 
  
/* .attributes {
    margin: 0 0 10px;
}  */
.attributes label {
    background-color: #f3b71f;
    border-radius: 5px;
    margin-top: 1rem;
}
.attributes span {
    padding: 6px 14px;
    color: #000;
    text-shadow:0px 0px 0px #000; 
}
.attributes input { position: absolute; visibility: hidden; }

.attributes input:checked + span { border: 2px solid #000; border-radius: 5px; } 

a.add-amount-less, a.add-amount-more { 
	height: 31px;
	width: 20px;
	line-height: 31px; 
	background: #ddd;
} 
 
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs { margin-top: 60px; } 
.tab-content {
    border-top: 0;
    padding: 10px 5px;
    min-height: 100px;
}
.tab-content table td{ text-align: left; padding: 4px 5px !important; }
.tab-content table{ width: 100%; }

/*===== COMMENTS ========= */
.comment-content { 
	margin-bottom: 5px;
	padding: 6px 10px;
	font-size: 13px;
    box-shadow: 0px 0px 10px #ddd; 
} 
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: #e6e6e6; }

/* ============ INSIDE CART =============== */
.without-btn {
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 15px 0px; 
    padding: 10px;
}
.without-btn.active {   
    border: 1px solid #f3b71f;
    color: #f3b71f;
} 
.without-btn i { 
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease; 
}
.without-btn.active i { -webkit-transform: scale(1); transform: scale(1); }

/*- CART ITEMS -*/
.cart-labels { margin-top: 20px; }

.cart-labels li {
	padding: 7px 8px;
	color: #747474; 
    letter-spacing: 1px;
} 
.JScart-item {
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
}
.cart-image { max-height: 100px; }

.cart-name a { line-height: 1.2; margin: 10px 0; } 

.cart-total-price { 
    font-size: 125%;
} 
a.JScart-less, a.JScart-more {     
    color: #b3b3b3;
    margin: 0 5px;
}
input.JScart-amount {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    margin: 0;
}
 
input.cart-amount {
    width: 40px; 
    height: 40px; 
}
/**********************/
.empty-page-label {  
    font-size: 120%;
    margin: 15px 0;
}
/**********************/

 /*- BELOW CART -*/ 
.cart-sum > div {
	padding: 7px 0;  
} 
.sum-label {
    color: #8b8ba7;
}
.sum-label, .sum-amount {
    min-width: 45%;
}
.sum-amount { font-size: 140%; } 

/**********************/

/*- CART ACTION BUTTONS -*/
.cart-action-buttons { 
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    padding: 20px 0 0;
}
.remove-item {
    color: #e60000 !important;
}
 
/*--- USER PAGE ---*/

.user-orders-table th { border: none !important; }

/*******************/
.modal-footer, .modal-header{ border: none; }

/*******************/
 
.swal-button--no {
    background: #e55539;
}
.swal-button--no:hover {
    background: #e23e1d !important;
}
.swal-text {
    font-size: 20px; 
}
.swal-button {
    border-radius: 0;
}
.swal-button--confirm {
    background-color: #f3b71f;
}
.swal-button--yes {
    background-color: #f3b71f !important;
}
/*******************/

.map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    text-shadow: 0 0 0.1px;
    font-size: 14px;
    margin: 0 0 5px; 
    color: #000;
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer .map-frame {
    max-height: 230px;
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
    margin: 15px 0 0;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #f9f9f9;
}
.category-name-link {
	margin: 3px 0; 
	border-bottom: 1px solid #ddd;
} 

.category__list__item__link { line-height: 1.7; }

.category-name-link, .category-heading, .category__list__item__link { font-size: 100%; } 

.JScategory-sidebar__list { margin: 20px 0; background: #f9f9f9; }

.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }

.category-sidebar__list__item__link { 
    padding: 2px 10px;  
}
.sticky-element {
    position: sticky; 
    z-index: 1;
    top: 0;
}

/*================*/
 
/* .JSlevel-1 > li:hover > a, */
#main-menu a:hover,  
.footer-links li a:hover,  
.top-menu a:hover
{ 
    /* color: var(--global_color);  */
    color: #ffd700;
}
.JSlevel-1 > li:hover > a {
    color: #fff;
}

.vezani_artikli .linked-articles-input{ border: none; }
 
/*================*/

.admin-article { 
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(#fff,#ddd); 
    padding: 0 7px;
    margin: 5px 0; 
    border: 1px solid #ddd;
}
.admin-article a { 
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px; 
}
/*================*/

.new-content { padding: 30px 0; }

.new-content img{ 
	max-width: 100%;
	max-height: 700px;      
	margin: 0 5px; 
}  

/* POLLS */
.polls {
    max-width: 600px;
    margin: auto;
    background: rgba(0,0,0, .03);
    padding: 5px 15px;
}
.poll {
    box-shadow: 0 0 8px rgba(0,0,0, .1);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.poll .question {
    font-size: 105%;
    margin: 0 0 5px;
}
.poll input { cursor: pointer; }

.poll .answer {
    padding: 2px 0;
} 
.poll .answer:hover {
    background: rgba(0,0,0, .03);
}
.polls .btn {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    max-width: 115px;
}
.polls .btn:hover {
    background: rgba(0, 0, 0, .09);
}

/*======= ACTION SLIDER ==============*/
.btn-slider {
	padding: 1px 5px;
    color: var(--global_color);
    background-color: transparent; 
    top: -35px;
    position: absolute;
}
.btn-slider:active{ opacity: .6; }
  
/* ADDITIONAL FILES */
.files-list-item { 
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li { 
	border-bottom: 1px solid #ddd;
	padding: 2px 10px; 
    width: 49%;
}
  
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li{
    display: inline-block;
    padding: 2px 5px;
    line-height: 1.3;  
}

.generated-features-list > li:nth-child(1){ width: 28%; }

.generated-features-list > li:nth-child(2){ width: 70%; }

.generated-features-list > li ul li{ border-bottom: 1px solid #ddd; width: 50%; }

.generated-features-list > li ul li:nth-last-child(-n+2){ border-bottom: none; }

.files-link img { max-width: 60px; }

/*============ BRENDS ==============*/
.brend-item {
	background: #fff; 
	padding: 5px 15px; 
	color: #222;
	height: 80px;
	margin: 15px 0; 
	box-shadow: 1px 1px 3px #f2f2f2;
    justify-content: center;
    -webkit-justify-content: center;
}
.brend-item img{ max-height: 65px; padding: 5px 0; }
/*.brandSlider img{
    max-width: 100%;
    max-height: 60px;
    margin: 15px 0;
    }*/

/*=======================*/
.article-edit-btn {  
    border: 1px solid #bbb; 
    font-size: 12px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
    z-index: 2;
} 
/******************/
#admin-menu { 
    background: #f2f2f2; 
    padding: 5px;   
    position: sticky;
    top: 0;
    z-index: 5; 
}
#admin-menu a i { color: #e55539; font-size: 15px; }
#admin-menu { font-size: 14px; } 
#admin-menu a:hover { color: #aaa; }
/******************/

.success {
    margin: 15px;
    padding: 5px; 
}

/* OCENE */ 
.review, .rate-me-artical { color: #f3b71f; font-size: 80%; } 
.rate-me-artical span { color: #181818; }

/******************/

.bw { background-color: var(--inner_body_bg); }

/******************/

.karak-row {
	min-height: 25px;
	border-bottom: 1px solid #bbb; 
}
.karak-row:last-child{
	border-bottom: none;
}

/*---------- MEDIAQUERIES ----------*/
@media (max-width: 1920px) {  
    .JSmain-slider {
        max-height: 760px;
    }
}
@media (min-width: 1920px) {
    .bannerDescSlick {
        width: 380px;
        top: -85px;
    }

    .bannerSlider .slick-prev {
        left: 420px;
        color: #e60000;
    }
    .bannerSlider .slick-next {
        right: 420px;
        color: #e60000;
    }
}
@media (max-width: 1600px) {  
    .JSmain-slider {
        max-height: 640px;
    }
}
@media (min-width: 1440px) { 
    .d-content:after { 
        max-width: 1410px; /* CONTAINER CONTENT WIDTH */
        left: calc(50% - 705px); /* 705px = (CONTAINER CONTENT WIDTH / 2)  */ 
    }
}
@media (max-width: 1366px) {  
    .JSmain-slider {
        max-height: 545px;
    }
    .bannerDescSlick {
        width: 340px;
        margin: auto;
        top: -65px;
    }
}
/****************/
@media (max-width: 1200px) {
    .bannerDescSlick {
        width: 330px;
        margin: auto;
        top: -55px;
    }
    .add-to-cart-container button {
        min-width: 150px;
    }
}
@media (min-width: 1200px) { 
    .container {
        width: 100%;
        max-width: 1440px;
    } 
    .bannerSlider .slick-prev {
        left: 100px;
    }
    .bannerSlider .slick-next {
        right: 100px;
    }
}
/**********************************/
@media screen and (min-width:991px) { 
    
    body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }
    
    .drop-2 {
        background: rgba(0,0,0, .7); 
    }
     
    .top-menu li, #main-menu > li, .md-inline-block { display: inline-block; }

    /* #product-page .JSproduct { width: 25%;  }  */

    .md-text-right { text-align: right; } 
    .md-text-center { text-align: center; } 

    /****************/
    header {
        background: rgba(0,0,0,.5);
    }
    .JSlevel-1 {
        display: none !important;
    }
    .show-important {
        display: flex !important;
    }
    .header-cart:after {
        left: unset;
        right: -3px;
    }
    .image-positioning img {
        position: relative;
    }
    .image-positioning img:last-child {
        bottom: 35px;
        left: 15px;
        width: 90%;
    }
    .image-positioning img:first-child {
        right: 10px;
        width: 90%;
    }
    .flexing-banner .border-bottom:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        top: unset;
        bottom: 115px;
    }
    .flexing-banner .txt-banner:after {
        content: '';
        position: absolute;
        bottom: -24px;
        font-family: 'Allura', cursive;
        width: 8px;
        height: 8px;
        background-color: #FFD700;
        z-index: 4;
        border-radius: 50%;
    }
    .flexing-banner .content p:last-child {
        font-size: 2rem;
    }
    #start-page .flexing-banner .border-bottom:after {
        content: '';
        background: #000;
    }
    #start-page .flexing-banner .txt-banner:after {
        content: '';
        background-color: #000;
    }
    .zaposlenje h2 {
        margin-left: 5px;
    }
/*     #product-page .categoryContent .JSlevel-1 {
        position: absolute;
        top: 10%;
    } */
    /* STATIC NAVBAR */
    /* .JSNavStatic {
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
    } */
    .mainFlip:nth-of-type(3) {
         padding-top: 50px;
    }
    .mainFlip:nth-of-type(5) {
        padding-top: 50px;
    }
    #relatedProducts .price-holder {
        position: absolute;
        bottom: -10px;
        z-index: 5;
        text-align: center;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0%);
    }
    .price-custom {
        font-size: 22px;
    }
    #relatedProducts .price-custom {
        font-size: unset;
    }
    #relatedProducts .customPricePer {
        font-size: 17px;
    }
    /****************/
    .login-dropdown {
        left: unset;
        right: 0;
    }
    .pl-1 {
        padding-left: 1rem;
    }
    .about-title {
        max-width: 50%;
        margin: 2rem auto;
    }
    .lg-absolute {
        position: absolute;
        z-index: 3;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .JSStickyLogo {
        text-align: center;
    }
    #level-1-flex li a:hover {
        color: #000;
    }

    /* SHOP */
    /* .header_shop {
        position: absolute;
        right: 0%;
        z-index: 888;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 300px;
        align-items: center;
        justify-content: center;
    } */
    #level-1-flex {
        text-align: center;
        width: 100%;
    }
   .header_shop #level-1-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .JSStickyLogo {
        display: none;
    }
    .btn-sell {
        width: 57%;
    }
    /* END OF SHOP */

    /* With START PAGE */
    #start-page .header_shop {
        position: absolute;
        right: 0;
        z-index: 50;
        display: flex;
        flex-direction: column;
        height: 80%;
        min-width: 300px;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: #000;
        overflow: hidden;
    }
    .categoryOpen {
        padding: 8px 15px;
        position: absolute;
        left: 70px;
        top: 30%;
    }
    .logoTop { display: none;}
    #start-page .logoTop { display: block;}

    /* .logoTop {
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translate(-50%,  0%);
    }  */
    /* header {
        background: rgba(0,0,0, .5);  
        position: relative;
        z-index: 5;
    } */
     #main-menu {
        display: flex;
        flex-direction: column;
    }
    #presentation-page #main-menu {
        display: block;
    }
    /* #start-page .bg-img-custom img {
        height: 65vh;
        margin: auto;
        padding: 4rem 0;
    } */
    .p-2 {
        padding: 2rem;
    }

    /* CATEGORY OPEN */
    /* .categoryOpen {
        position: relative;
        left: -50%;
        top: 0;
        transform: translate(-50%, 0%);
        cursor: pointer;
    } */
    .categoryOpen i { vertical-align: bottom;}

    .categoryOpen h4 {
        font-size: 1.9rem;
    }
    .translateBody {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);
        -webkit-transition: 0.5s all;
        overflow-x: hidden;
    }
    .JSCategoriesToAppend {
        /* background: #f3cb56;
        position: fixed;
        left: -15px;
        top: 0;
        height: 100vh;
        min-width: 215px;
        z-index: 6;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; */
        height: 100%;
        max-width: 325px;
        /* display: flex; */
        text-align: center;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0px;
        top: 0px;
        display: block !important;
        bottom: 0px;
        max-width: 325px;
        width: 100%;
        background: #f3cb56;
        transform: translateX(-325px);
        /* transition: all 0.5s ease 0s; */
        z-index: 990;
        /* overflow-y: auto; */
        flex-direction: column;
    }
    .categoryContent {
        height: 100%;
        width: 100%;
        display: block;
    }
    .JSfade-in, .JSfade-about, .JSfade-about-back {
        opacity: 0;
    } 
    .categoryContent .JSlevel-1 {
        flex-direction: column !important;
        /* height: 60%; */
        position: sticky;
        display: flex;
        justify-content: center;
        left: 50%;
        top: 40%;
    }
    .selectedImg:before {
        content: '';
        position: absolute;
        top: 25%;
        left: -10%;
        width: 220px;
        height: 100px;
        border: solid 5px #fff;
        border-color: #fff transparent transparent transparent;
        border-radius: 50%/100px 100px 0 0;
        transform: rotateZ(270deg);
    }
     #backdrop {
         display: flex;
         justify-content: center;
     }
    .circleSelect {
        border-radius: 50%;
        position: absolute;
        bottom: 25%;
        left: 25%;
        width: 100%;
        transform: translate(20%, -25%);
    }
    .selectedImg {
        max-width: 90%;
        max-height: 100%;
        transform: translate(10%, 0%);
    }
    .subCategoriesTitle {
        position: absolute;
        top: 0;
        background: #f3b71f;
    }
    .textSub {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    /* END OF TRAPEZOID SHAPE */

    /* BIFTEK MAP */
    .kg-city:hover .cityNameKg {
        opacity: 1;
    }
    .pa-city:hover .cityNamePa {
        opacity: 1;
    }
    .za-city:hover .cityNameZa {
        opacity: 1;
    }
    .ni-city:hover .cityNameNi {
        opacity: 1;
    }
    .pi-city:hover .cityNamePi {
        opacity: 1;
    }
    .pk-city:hover .cityNamePk {
        opacity: 1;
    }
    .ks-city:hover .cityNameKs {
        opacity: 1;
    }
    .cityNamePa {
        position: absolute;
        top: -370px;
        left: 33%;
        padding: .6rem 1rem;
        background: antiquewhite;
        z-index: 99;
        text-align: center;
        opacity: 0;
    }
    .cityNameKg {
        position: absolute;
        top: -290px;
        left: 30%;
        padding: .6rem 1rem;
        background: antiquewhite;
        z-index: 99;
        text-align: center;
        opacity: 0;
    }
    .cityNameZa {
        position: absolute;
        top: -260px;
        left: 57%;
        padding: .6rem 1rem;
        background: antiquewhite;
        z-index: 99;
        text-align: center;
        opacity: 0;
    }
    .cityNameNi {
        position: absolute;
        top: -225px;
        left: 55%;
        padding: .6rem 1rem;
        background: antiquewhite;
        z-index: 99;
        text-align: center;
        opacity: 0;
    }
    .cityNamePi {
        position: absolute;
        top: -210px;
        left: 67%;
        padding: .6rem 1rem;
        background: antiquewhite;
        z-index: 99;
        text-align: center;
        opacity: 0;
    }
    .cityNamePk {
        position: absolute;
        top: -205px;
        left: 42%;
        padding: .6rem 1rem;
        background: antiquewhite;
        z-index: 99;
        text-align: center;
        opacity: 0;
    }
    .cityNameKs {
        position: absolute;
        top: -240px;
        left: 40%;
        padding: .6rem 1rem;
        background: antiquewhite;
        z-index: 99;
        text-align: center;
        opacity: 0;
    }
    /* END OF START PAGE */

    /****************/
   header {
        /* background:red;   */
        position: relative;
        z-index: 5;
    }
   header:hover {
        background: rgba(0,0,0, .7);  
    }
    .sticky_head {
        position: sticky !important;
        top: 0; 
        z-index: 5;
        display: block !important;
    } 
    .sticky_head .JSlevel-1, .sticky_head #main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #presentation-page header {
        z-index: 5;
        background-color: rgba(0,0,0,.5);
    }
    .bannerSlider .slick-next, .bannerSlider .slick-prev {
        background: #f4f4f4;
        border-radius: 50%;
        color: red;
        width: 40px;
        height: 40px;
    }
    button.slick-prev:before, button.slick-next:before {
        color: #000;
    }
    
    .bannerSlider .slick-next:hover, .bannerSlider .slick-prev:hover {
        background: #c4ac28;
        color: #000;
    }
    .bannerSlider .slick-next:focus, .bannerSlider .slick-prev:focus {
        background-color: #ffdd00;
    }
    /* .bannerSlider:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        display: block;
        width: 100%;
        height: 100%;
        background: #ff000000;
        z-index: 1;
        border-left: 80px solid #181818;
        border-right: 80px solid #181818;
    } */

    /****************/
  
/*    .shop-product-card .product-image-wrapper > a:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: .2s ease-in-out; 
        transition: .2s ease-in-out;
        background: rgba(0,0,0,.2); 
        opacity: 0; 
    }
    .shop-product-card:hover .product-image-wrapper > a:after {
        opacity: 1; 
    }*/
    /****************/
    #presentation-page #responsive-nav a:not(.icons_header a)  { 
        position: initial;
        transform: unset;
        padding: 8px 4px;
    }
     #responsive-nav a:not(.icons_header a)  {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        padding: 8px 0px;
    }
    .JSlevel-1 > li > a {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        padding: 8px 0px;
        font-weight: 500;
        line-height: 25px;
        font-size: 115%;
    }
    /* .JSlevel-1 > li > a, */ #main-menu > li > a {
        font-weight: 500;
        line-height: 25px;
        font-size: 115%;
    }
    /****************/ 

    #start-page .JSmain-slider {
        margin-top: -30px;
    }
    #presentation-page .JSmain-slider {
        margin-top: -115px;
    }

    /****************/
/*    .banners:after {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        border: 2px solid #fff;
        transform: scale(0);
        -webkit-transform: scale(0);
        transition: .3s;
        -webkit-transition: .3s;
    }
    .banners:hover:after {
        transform: scale(1);
        -webkit-transform: scale(1);
    }*/

    .JScart-item li { 
        min-height: 115px;
    }  
    /****************/

    .JSlevel-2 + .JSsubcategory-toggler, 
    .JSlevel-3 + .JSsubcategory-toggler {
        display: none;
    }
    .JSlevel-1 > li { 
        float: left;
        padding: 20px 0px;
        color: #fff;
        border: 1px solid transparent;
        position: relative;
    }
    .JSlevel-1 > li:hover {
        border: 1px solid #f3eea2;
    }
    .JSlevel-1 > li:hover .JSlevel-2 {
        display: block;
        opacity: 1;
    }
    #product-page .JSlevel-1 > li:hover {
        border: 1px solid #f3eea2;
    }
    .JSlevel-2 {
        position: absolute;
        background: rgba(0,0,0, .5);
        /* width: 100%; */
        max-width: 300px;
        width: 100vw;
        opacity: 0;
        left: 100%;
        /* top: 100%; */
        top: 0;
        z-index: 22;
        min-height: 200px;
        padding: 20px 0; 
    }    
    .level-2-wrap {
        max-width: 970px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    } 

    .level-2-wrap li a:hover {
        color: #ffd700 !important;
        opacity: 1;
    }
    .level-2-wrap a {
        font-size: 18px;
        color: #fff;
    }
    .level-2-wrap li {
        padding: 15px;
    }

    /****************/
    .JSlevel-3 a:before {
        content: '';
        width: 0;
        height: 0;
        background: #fff;
        display: inline-block;
        border-radius: 50px;
        position: absolute;
        left: 0;
        top: 12px;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
    } 
    .JSlevel-3 li:hover > a:before {
        width: 4px;
        height: 4px;
    }
    .JSlevel-3 a {
        padding-top: 3px !important;
        padding-bottom: 3px !important; 
    }

    /****************/
 
    /* .shop-product-card .add-to-cart-container {  
        transform: translateY(100%);
        -webkit-transform: translateY(100%); 
    } */
    /* .shop-product-card:hover .add-to-cart-container {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    } */
    
    /****************/
    .blogs-title { 
        min-height: 40px;
    }

    /****************/

    #start-page .JSmain-slider { 
        opacity: 1;
    }
    .fadeIn {
        animation: fadeIn .5s forwards;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

/*--- MIN WIDTH 768px ---*/
@media screen and (min-width: 768px) {
	.generated-features-list:last-child { border-bottom: none; }
	.generated-features-list{
		padding: 0 10px;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}  
    .md-text-right {
        text-align: right;
    }
    .md-absolute {
        position: absolute;
        z-index: 3;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .shop-product-card .product-image-wrapper { 
        padding-bottom: 100%;  
    } 
    #relatedProducts .shop-product-card .product-image-wrapper {
        padding-bottom: 110%;
    }
    .shop-product-card .product-image-wrapper > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        -webkit-transform: translate(-50%, -50%);
        height: 100%;
        min-width: 100%;
        max-height: 35%;
    }
    #relatedProducts .shop-product-card .product-image-wrapper > a {
        top: 45%;
        padding: 5px;
    }
    #relatedProducts .shop-product-card .add-to-cart-container {
        padding: 15px 5px;
    }
    .shop-product-card .add-to-cart-container { 
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; 
        position: absolute; 
        bottom: 0; 
        z-index: 2;
        width: 100%; 
        background: #fff;
        padding: 10px 5px;
        text-align: right;
    } 
    
    /*=============*/
    .shop-product-card .product-name { 
        text-align: left;
        min-height: 36px;
        max-width: 100%;
        font-size: 20px;
        padding: 0 5px;
        font-weight: bold;
    } 
    .shop-product-card  #fullWidth {
        max-width: unset;
        text-align: right;
        font-weight: bold;
        font-size: 100%;
        padding-bottom: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .shop-product-card .price-holder {
        height: 87px; 
        text-align: left;
        padding: 0 10px;
    }
    /****************/
    .main_imgGallery { height: 500px; }

    .main_imgGallery .JSmain_img { max-height: 490px; }

    .container-fluid  .gallery_slider {
        grid-template-columns: repeat(15, 1fr);
    }
    .container .gallery_slider { grid-template-columns: repeat(10, 1fr); }
    
    .gallery_slider {
        grid-auto-rows: 70px;
    }
    .gallery_slider img { max-height: 60px; }

    .JScookiesInfo_btn { 
        float: right; 
        padding: 10px 15px;
        margin: 5px 0;
    }
    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks .banc_main_logo img { 
        max-width: 235px; 
        margin: 0 8px; 
    }
}

/*======================*/
  
@media only screen and (max-width: 991px){

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 320px;
        width: 100%;
        background-color: rgba(0,0,0, .9);
        -webkit-transform: translateX(-320px);
        transform: translateX(-320px);
        transition: 500ms transform;
        z-index: 40;
        overflow-y: auto;
        padding: 10px;
    }
    .JSRespWrap { 
        color: #fff;
        padding: 0 15px;
        font-size: 25px; 
        position: absolute;
        right: 10%;
        top: 15px;
        display: flex;
        align-items: center;
    }
    .login-dropdown {
        font-size: 60%;
    }
    /* .resp-nav-btn { 
        color: #fff;
        padding: 0 15px;
        font-size: 25px; 
        position: absolute;
        right: 1%;
        top: 22px;
    } */
    .open_cat {
        -webkit-transform: translateX(0px) !important; 
        transform: translateX(0px) !important;
    }
    .JSclose-nav {   
        font-size: 50px; 
        padding: 0 5px;
        line-height: 45px;
        height: 45px;
    } 
    .JSclose-nav:hover {
        opacity: .7;
    }
    /******************/
 
    .drop-2 {
        position: relative;
        display: block;
    }
    .header-search {
        position: absolute;
    }
  
    .container { width: auto; padding: 0; }
     
    .JSlevel-1 li { margin: 3px 0; position: relative; } 

    .JSlevel-1 ul { margin-left: 25px; }
    
    .sm-no-padd { padding: 0; } 

    .hidden-small, .JSlevel-3 { display: none; }

    .top-menu ul a {
       border-bottom: 1px solid rgba(255,255,255, .3);
    }
    /*************************/
    .JSsubcategory-toggler { 
        background: #000;
    }
    /***************/
    .JScart-item { 
        margin: 10px 0;
    }
    .bannerSlider .slick-next, .bannerSlider .slick-prev {
        display: none !important;
    }
    .sm-text-left {
        text-align: left;
    }
    .JSstaticLogo {
        display: none !important;
    }
    .sm-absolute {
        position: absolute;
        right: 10%;
    }   
    .main-brand .link ul {
        flex-direction: row;
    }
    .main-brand .link {
        width: 100%;
        align-items: flex-end;
    }
    .header.skew {
        transform: rotateY(0deg) scale(.6);
    }
    .main-brand .mobileDots span {
        width: 10px;
        height: 10px;
        background: #f3b71f;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .desktopLinks {
        display: none !important;
    }
    .flip-card-inner {
        margin: auto;
    }
    #fullWidth {
        display: none;
    }
    .product-name {
        font-size: 1.6rem;
        margin-left: 5px;
        font-weight: bold;
    }
    .price-holder {
        font-size: 150%;
        font-weight: bold;
        margin-left: 5px;
    }
    .price-holder p {
        font-size: 1.5rem;
    }
    .stickyBg {
        filter: brightness(2);
    }
    .btn-sell {
        width: 85%;
        margin: auto;
    }

    /* Biftek Map */
    .JSMainWrapper {
        flex-direction: column;
    }
    .content-3 {
        padding: 0 20px;
    }
    .content-1 img {
        transform: scale(1);
    }
    .marks img {
        width: 20px;
        height: 20px;
    }
    .sticky_head #responsive-nav {
        display: block;
    }
    .JSStickyLogo {
        z-index: 10;
    }
    .header_shop .icons_header {
        display: block;
        margin: 0 1rem;
    }
    .icons_header {
        margin: 0 1rem;
    }
    .JSlevel-1 li a:hover {
        color: #ffd700;
    }
    .customPricePer {
        font-size: 19px;
    }
    .resp-nav-btn .fa-bars {
        font-size: 23px;
    }
    .cityNamePa,.cityNameKg, .cityNameZa, .cityNameNi,
    .cityNamePi, .cityNamePk, .cityNameKs {
        display: none;
    }
    .buy-btn {
        font-size: 15px;
        padding: 8px;
    }
    .product-image-wrapper {
        padding: .5rem;
    }
    .shop-product-card-list {
        margin: 15px 0;
    }
}

/*=================*/
@media only screen and (max-width: 768px){
    .JScategory-sidebar__list {
        position: fixed;
        top: 50%;
        right: 0px;
        margin-right: -80%;
        width: 80%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: margin 0.2s ease-in-out;
        transition: margin 0.2s ease-in-out;
        border: 1px solid #ddd;
    }
    .JScategory-sidebar__list__toggler {
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;	
        transform: translateY(-50%);
        left: -35px;
        background: #f0f0f0;
        border-radius: 3px 0px 0px 3px;
        color: #747474;
        font-weight: 700;
        border: 1px solid #747474;
        cursor: pointer;
    }
    .category-sidebar__list--open { margin-right: 0%;} 
    .category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192";} 
    .JScategory-sidebar__list__toggler:before { content: "\2190";} 
 
    .sm-text-center { text-align: center; }
 
    .generated-features-list > li:nth-child(2){ width: 100%; }
        
    .ft-section-title{ min-height: auto; margin: 15px 0 0; border-bottom: 1px solid #ddd; }
    
    .karak-row{ height: auto; border: none; }
    
    .category-sidebar__list__item__link{ padding: 5px 10px; } 
              
    .generated-features-list { margin: 30px 0; }
    
    .product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000; 
        font-weight: 600; 
        width: 100%;
    }   
    .sm-absolute {
        position: absolute;
        right: 15%;
        top: 0;
    }   
    .resp-nav-btn {
        right: -35%;
        top: 5px;
    }

    /****************/ 
    .JSmain-slider .slick-next, .JSmain-slider .slick-prev {
        width: 35px;
        height: 35px; 
    }
    .JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before {
        width: 13px;
        height: 13px;
    }
     /****************/
    .button {
        font-size: 95%;
        padding: 8px;
    }
    .page-title {
        font-size: 100%;
    }
    /****************/
    .shop-product-card .product-image-wrapper > a {
        height: 230px;
    }
    .shop-product-card .product-image {
        max-height: 190px;
    }
     /****************/
    .sm-margin-15 {
        margin: 15px 0;
    }
    .compare-table {
        padding: 10px 3px;
    }
     /****************/
    .gallery-ban {
        grid-template-rows: repeat(4, minmax(40px, 1fr));
    }
    .gallery-title {
        font-size: 110%;  
    }
    /****************/
    .main_imgGallery { height: 200px; }

    .main_imgGallery .JSmain_img { max-height: 190px; }

    .gallery_slider {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
    }
    .gallery_slider img { max-height: 40px; }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks { 
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .card-about-us:before {
        display: none;
    }
    .card-about-us:after {
        font-size: 600%;
    }
    .add-to-cart-container button {
        min-width: unset;
    }
} 

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) { 
 	.section-title, .blog-title { 
        font-size: 70%;
    }
    .swal-title, .newsletter h5 { font-size: 20px; }
	
    .scrollable { overflow-y: scroll; max-height: 400px; }
	
    .article-heading { font-size: 16px; }
	  
    .tab-titles li a { padding: 10px; } 
	           
    .sliderText *, .banner-desc * {
        font-size: 15px;
        padding: 0 5px; 
    } 
    .banners .bg-img {
        padding-top: 60%;
    } 
    .JSmain-slider {
        max-height: 165px;
    } 
    .xs-no-padding {
        padding: 0;
    }
    .card-about-us-2 {
        top: 80%;
        left: 0;
        font-family: 'Allura', cursive;
        text-align: center;
        position: absolute;
        height: 100%;
        width: 100%;
        font-size: 260%;
        z-index: -1;
        overflow: hidden;
    }
    .carrier-title h2 {
        font-size: 300%;
    }
    .carrier .carrier-title:after {
        font-size: 50px;
    }
    .JSRespWrap {
        right: 0%;
        top: 10px;
    }
   #start-page .logo img {
        max-height: 50px;
        position: relative;
        left: -15px;
    }
    #presentation-page .logo img {
        max-height: 45px;
        left: 5px;
        position: relative;
    }
    #presentation-page .onStartPage {
        top: -10px;
        right: 15px;
    }
    .text-gold {
        font-size: 34px;
    }
    #presentation-page .sliderText .main-desc, .carrier-title h2, .section-title, .mapObjectTitle h2 {
        font-size: 34px !important;
    }
    .logo img {
        max-height: 50px;
        position: relative;
        left: -15px;
    }
    .price-holder {
        font-size: 125%;
    }
}